.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
}

.modal {
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Тень для модального окна */
  width: 50%; /* Максимальная ширина модального окна */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

h2 {
}

form label {
  margin-bottom: 10px; /* Отступ между элементами формы */
  color: #6e6c6a;
  font-weight: 500;
  font-family: Manrope;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}

.addStaffModalForm {
  display: flex;
  margin-top: 30px;
  width: 80%;
  justify-content: space-between;
  select {
    width: 100%;
    padding: 8px;
    background: #f6f6f6;
    border-radius: 100px;
    margin-bottom: 10px;
    height: 43px;
    margin-top: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Учитываем отступы и границу в общую ширину */
  }
}

.addStaffModalForm > div {
  display: flex;
  flex-direction: column;
  width: 47%;
}

.addStaffModalForm {
  input {
    width: 100%;
    padding: 8px;
    background: #f6f6f6;
    border-radius: 100px;
    margin-bottom: 10px;
    height: 43px;
    margin-top: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Учитываем отступы и границу в общую ширину */
  }
}

button {
  height: 40px;
  background-color: #576ed0;
  color: #fff;
  border: none;
  margin-top: 40px;
  border-radius: 100px;
  cursor: pointer;
  width: 40%;
  font-weight: 600;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3; /* Цвет кнопки при наведении */
}

.chooseImage {
  display: flex;
}
.chooseImage__box1 {
  /* Укажите свои стили для кнопки */
  background: #f6f6f6;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 250px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0;
  }
  label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }
  input {
    display: none;
  }
  img {
    width: 20px;
    height: 20px;
  }
}
input {
  #file-upload-button {
    opacity: 0;
  }
}
.input-file {
  input {
    opacity: 0;
  }
}

.chooseImages {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  height: 170px;
  color: #fff;
  border: none;
  border-radius: 5px;
  gap: 10px;
  margin-left: 30px;
  &__box1 {
    width: 120px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #f6f6f6;

    overflow: hidden;
  }
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0;
  }
  label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }
  input {
    display: none;
  }
  img {
    width: 20px;
    height: 20px;
  }
}

.selectedImg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  img {
    width: 100%;
    height: 100%;
  }
}
